$spacing: 20px;

$colors: (
	navy: #0d162d,
	invite-navy: rgb(29, 43, 80),
	pink: rgb(245, 169, 173),
	strongpink: #a93864,
	darkpink: #532b59,
	green: rgb(118, 141, 125),
);

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: grid;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.login {
	margin: auto;
	padding: $spacing/2;
	> * {
		text-align: center;
		margin: $spacing 0;
	}
	.go {
		padding: 2px;
		border-radius: 10%;
	}
	input,
	button {
		height: 2.3em;
	}
}

a {
	color: map-get($colors, darkpink);
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: map-get($colors, strongpink);
	}
}

.hidable {
	opacity: 1;
	&[data-hide='true'] {
		opacity: 0;
		:not(&) {
			transition: opacity 1s;
		}
	}
}
